:root{
   
    --color-primary: #2584ff;
    --color-accent:green;
    --color-background:#060f29;
}
@import url("../Projects/style.css");

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    color: white;

}

body{
    
    background : var(--color-background);
    font-family: Inter, Arial, Helvetica, sans-serif; 
     
}

li{
    text-decoration: none;
    list-style: none ;
}

.nav-menu{
    display: flex;
    

}
.navbar{
    display: inline-flex;
    position: static;
    flex-direction: column;
    width: 250px;
    height: 280px;
}

.logo{
    display: inline-flex ;
    width: 340px;
    height: 71px;
    font-size: 37px;
    color: white;
    font-family: Inter;
}
.color--primary{
    color: var(--color-primary);
    display: inline;
}
.nav__item{
    display: inline-flex;
    color: white;
    margin-top: 5.5rem;
    margin-bottom: 5.5rem;
    font-size: 2.1rem;
    transition: all ease .2s
}

.nav__item:hover{
    color: var(--color-primary);
    border-color: var(--color-primary);
}

 

 
.line{
    margin-top: 1.5rem;
    margin-left: 1rem;
    border: 2px solid white;
    border-radius: 2px;
    display: inline-block;
    width: 2.5rem;
    height: 1px ;
    transition: all .2s;
}
.nav__item:hover .line{
    width: 7rem;
    border-color: var(--color-primary);
}
.page{
    display: flex;
    justify-content: space-between;
    
}