:root{
    --color-primary: #0078F3;
    --color-secondary: #101050;
    --color-background-primary: #f1f1f1;

    --color-test: gold;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
@font-face {
    font-family: 'Poppins-Bold';
    src:  url('fonts/Poppins-Bold.woff2') format('woff2'),
          url('fonts/Poppins-Bold.woff') format('woff');
  }
  @font-face {
    font-family: 'Poppins-Regular';
    src:  url('fonts/Poppins-Regular.woff2') format('woff2'),
          url('fonts/Poppins-Regular.woff') format('woff');
  }
 


html{
    font-size: 62.5%;     
}

body{
    
    background-color: var(--color-background-primary);
}

h3{
    font-family: Poppins-Regular;
    font-size: 2rem;
    letter-spacing: 3px;
}

.white{
    color: white;
}

.homepage{
    display: inline-flex;
    flex-direction:column;
    width: 100vw;
    height: 100vh;
}
.page--2{
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    background-color: var(--color-secondary);
}



.primary--font{
    color: var(--color-primary);
}

/* Navbar Container */
.navbar-main{
    display: inline-flex;
    align-items: center;
    width: 100vw;
    height: 80px;
    background-color: white;
}


/*   Logo  */
.logo h1{
    display: inline-flex;
    font-size: 3rem;
    font-family: Poppins-Bold;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 80px;
}

.main-heading:hover{
    color: white;
    background-color: black;
}

/* Navbar Menu   <flex> */
.navbar-menu{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}
a{
    color: black;
    text-decoration: none;
}
.nav-item {
    display: inline-flex;
    font-family: Poppins;
    font-size: 1.7rem;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 80px;
    transition: font-family .15s ease, background .15s ease;

}
.nav-item:hover , .focus{
    font-family: Poppins-Bold;
    background-color: var(--color-background-primary);
}

.nav-group{
    justify-content: center;
    align-items: center;
    display: inline-flex;
}


/*  call to action Butoon */
.cta{
    border-radius: 3rem;
    font-size: 1.5rem;
    font-family: Poppins-Bold;
    margin: 0rem 7rem;
    width: 16rem;
    height: 3.5rem;
    background-color: white;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    transition: background-color .17s ease, color .17s ease;
}
.cta:hover{
    background-color: var(--color-primary);
    color: white;
}

.cta-watch-video{
    display: flex;
   
    justify-content: start;
    align-items: center;
}

.icon{
    margin: 1rem;
    width: 2rem;
    margin-left: 5rem;
}
.icon-medium{
    margin: 1rem 3rem;
    padding: 0rem;
    width: 4.3rem;
   
}
.icon-large{
    margin: 1rem 3rem;
    padding: 0rem;
    width: 25rem;
   
}

.hero{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.hero__description h2{
    display: inline-flex;
    flex-direction: column;
    width: 50rem;
    font-family: Poppins-Bold;
    font-size: 5rem;
}

.btn{
    font-family: Poppins-Bold;
    font-size: 1.7rem;
    border: none;
    border-radius: 3rem;
    padding: 1rem 2rem;    
}

.hero-app{
    margin-right: 15rem;
}

.btn--primary{
    color: white;
    background-color: var(--color-primary);
    transition: background-color;
}
.btn--primary:hover{
    background-color:  #2a8ff5;

}


p{
    font-family: Poppins-Bold;
    font-size: 1.5rem;
}
.inline{
    display: inline;
}

/* # features list */
.app-features{
    display: inline-flex;
    flex-direction: column;
    justify-content:  center;
    align-items: start;
    height: 100vh;
}
 

.feature{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.7rem;
}

.float-decor{
    display: inline-block;
    position: relative;
    right: 5rem;
    top: 40rem;
    margin: 0PX;
    
}