<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../templates/styles.css">
    <style>
        
    </style>
</head>
<body class="components-page">
    
    <fieldset>
        <legend>
            <h2> Badges </h2>
        </legend>
            <span class="badge badge--primary "> 10% off</span>
            <span class="badge badge--secondary "> 10% off</span>
            <span class="badge badge--primary badge--small"> 10% off</span>
            <span class="badge badge--secondary badge--small"> 10% off</span>
    </fieldset>

    <fieldset>
        <legend>
            <h2>Buttons </h2>
        </legend>
            <button class="btn btn--primary">Get started</button>
            <button class="btn btn--secondary">Get Started </button>    <button class="btn btn--accent">get started</button>
            <button class="btn btn--outline">Buy now</button>
            <a href="" class="btn btn--primary btn--block">anchor element</a>
    </fieldset>

    <fieldset>
        <legend>
            <h2> Icons Sprites</h2>
        </legend>
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="../images/sprite.svg#wordpress"></use>
                </svg>
                </span>
                <span class="icon-container">
                <svg class="icon icon--secondary">
                    <use xlink:href="../images/sprite.svg#computer"></use>
                </svg>
                </span>
                <span class="icon-container">
                <svg class="icon icon--accent">
                    <use xlink:href="../images/sprite.svg#snap"></use>
                </svg>
                </span>
    </fieldset>
        
    <fieldset>
        <legend>
            <h2> Input - Group </h2>
        </legend>
            <input type="text" class="input" placeholder="Enter Domain name here">
            <div class="input-group" >
            
                <input type="text" class="input" placeholder="Enter Domain name here">
                <button class="btn btn--accent">search</button>
            </div>
    </fieldset>

    <fieldset>
        <legend>
            <h2>links</h2>
        </legend>
        <a href="#" class="link-arrow">Learn More</a>
    </fieldset>

    <fieldset>
        <legend>
            <h2> lists</h2>
        </legend>
            <ul class="list list--inline">
                <li class="list__item">Item1</li>
                <li class="list__item">Item2</li>
                <li class="list__item">Item3</li>
            </ul>
            
            <ul class="list list--tick ">
                <li class="list__item">Item1</li>
                <li class="list__item">Item2</li>
                <li class="list__item">Item3</li>
                <li class="list__item">Item4</li>
                <li class="list__item">Item5</li>
            </ul>
    </fieldset>

    <fieldset>
        <legend>
            <h2>Cards</h2>
        </legend>
        <div class="cards-container">            
            <div class="card">
                <div class="card__primary card__heading">Card Heading</div>
                <div class="card__body">             <ul class="list list--tick ">
                    <li class="list__item">Item1</li>
                    <li class="list__item">Item2</li>
                    <li class="list__item">Item3</li>
                    <li class="list__item">Item4</li>
                    <li class="list__item">Item5</li>
                </ul> </div>
            </div>
                               
            <div class="card">
                <div class="card__secondary card__heading">Card Heading</div>
                <div class="card__body">            <ul class="list list--tick ">
                    <li class="list__item">Item1</li>
                    <li class="list__item">Item2</li>
                    <li class="list__item">Item3</li>
                    <li class="list__item">Item4</li>
                    <li class="list__item">Item5</li>
                </ul> </div>
            </div>
        
    </fieldset>

    


</body>
</html>