<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/styles.css">
    <link rel="stylesheet" href="../CSS/test.css">
    <title>Document</title>
</head>
<body>
    
<ul class="projects">
    <li><h3>
        <a href="testpage.html" class="dark-theme-font" >page for testing projects</a>
    </h2></li>
    <li><h3><a href="components.html" class="dark-theme-font"> html components </a></h2></li>
    <li><h3><a href="" class="dark-theme-font"> pending </a></h2></li>
</ul>


</body>
</html>